{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Mich - Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="custom-header">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Craft Mich">
            <span style="font-size: 24px; font-weight: bold; color: #333; margin-left: 10px;">CRAFT_MICH</span>
        </div>
        <nav class="custom-nav">
            <a href="/">Inicio</a>
            <a href="/productos/">Producto</a>
            <a href="/contacto/">Contacto</a>
            <a href="/nosotros/">Nosotros</a>
            <a href="/productos/carrito/">Carrito</a>
            {% if user.is_authenticated %}
    <div class="user-info" style="display: inline-flex; align-items: center; gap: 10px;">
        {% if user.profile.imagen %}
            <img src="{{ user.profile.imagen.url }}" alt="Perfil" style="width: 35px; height: 35px; border-radius: 50%;">
        {% else %}
            <img src="{% static 'images/user.png' %}" alt="Perfil" style="width: 35px; height: 35px; border-radius: 50%;">
        {% endif %}

        {% if user.is_staff %}
            <a href="/admin/">Administrar sitio</a>
        {% else %}
            <a href="{% url 'perfil_usuario' %}">{{ user.username }}</a>
        {% endif %}

        <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-outline-secondary">Cerrar sesión</button>
</form>

    </div>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


        </nav>
    </header>
    <div class="container py-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
