{% extends "core/base.html" %}
{% block content %}
<h2>Iniciar sesión</h2>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Usuario" class="form-control mb-2" required>
  <input type="password" name="password" placeholder="Contraseña" class="form-control mb-2" required>
  <button class="btn btn-primary" type="submit">Entrar</button>
</form>
<p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
{% endblock %}

